In [ ]:
Exercise 1

In [4]:
n = 0
while n < 10:
    if n == 5:
        break
    print(n)
    n += 1

0
1
2
3
4

In [ ]:
Exercise 2

In [5]:
n = 0
while n < 5:
    print(n)
    n += 1
else:
    print(n, "is not less than 5")

0
1
2
3
4
5 is not less than 5

In [ ]:
Exercise 3

In [3]:
fruitList = ["banana", "orange", "apple"]
for fruit in fruitList:
    if(fruit=="apple"):
        print("Is apple really a fruit?")
        break
    print("I like", fruit)

I like banana
I like orange
Is apple really a fruit?

In [ ]:
Exercise 4

In [7]:
sum = 0
k = 1
n = 30
while k <= n:
    sum = sum +k
    k += 1
print(sum)

465

In [ ]:
Exercise 5

In [16]:
grade = 69
if (grade >= 90):
    print("The letter grade is A")
elif (grade > 80):
    print("The letter grade is B")
elif (grade >= 70):
    print("The letter grade is C")
elif (grade >= 60):
    print("The letter grade is D")
else:
    print("The letter grade is F")

The letter grade is D

In [ ]:
Exercise 6

In [126]:
marks = {"Andy": 88, "Amy": 66, "James": 90, "Jules": 55, "Arthur": 77}
for k, v in marks.items():
    print(k, ":", v)

Andy : 88
Amy : 66
James : 90
Jules : 55
Arthur : 77

In [128]:
sum = 0
for v in marks.values():
    sum += v
average = sum / len(marks)
print(average)
print(max(marks.values()))
print(min(marks.values()))

75.2
90
55

In [129]:
for k in marks:
    if "J" in k:
        break
    print(k)

Andy
Amy

In [130]:
for k in marks:
    if "J" in k:
        continue
    print(k)

Andy
Amy
Arthur